:root {
  --font-family: "Open Sans", sans-serif;
  --second-family: "Poppins", sans-serif;
  --third-family: "Montserrat", sans-serif;
  --font3: "Roboto", sans-serif;
  --font5: "Inter", sans-serif;

  --white: #ebebeb;
  --accent: #9f6f3d;
  --hover: #c4a069;
  --background-1: #0c0f12;
  --background-2: #181c1f;
  --arrow-button: #242629;
  --input: #595f65;
  --text-1: #43484d;
  --text-2: #a2adb8;
  --roboto-60: #000;
}

/* =-=--=-=-=-=reset style=-=-=-=--= */
body,
html {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.container {
  min-width: 320px;
  max-width: 428px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;

  /* outline: red 1px solid; */
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* =-=-=-=-=-=-HEADER-=-=-=-=-=-=-= */
.header-page {
  background-color: #584747;
}
.header-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .header-container {
    justify-content: space-between;
    min-height: 65px;
  }
}
@media only screen and (min-width: 1280px) {
  .header-container {
    justify-content: space-between;
    min-height: 104px;
  }
}

.header-logo {
  font-family: var(--font3);
  font-weight: 400;
  font-size: 38px;
  color: #dd7230;
}
@media only screen and (min-width: 768px) {
  .header-logo {
    font-size: 38px;
  }
}
@media only screen and (min-width: 1280px) {
  .header-logo {
    font-size: 60px;
  }
}
.menu-list {
  display: flex;
  gap: 50px;
}
@media only screen and (max-width: 767px) {
  .menu-list {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .menu-list {
    gap: 20px;
  }
}
@media only screen and (min-width: 1280px) {
  .menu-list {
    gap: 50px;
  }
}

.nav-list {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: #fff;

  padding: 20px 0;
}

@media only screen and (min-width: 768px) {
  .nav-list {
    font-size: 12px;
    padding: 24px 0;
  }
}
@media only screen and (min-width: 1280px) {
  .nav-list {
    font-size: 20px;
    padding: 40px 0;
  }
}
.nav-list:hover,
.nav-list:focus {
  color: #dd7230;
}

/* -=-=-=-=-=-HERO-=-=-=-=-=- */

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/bgr-images/bgr-hero-img-tel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding-top: 58px;
  padding-bottom: 171px;
}

@media only screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/bgr-images/bgr-hero-img-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding-top: 121px;
    padding-bottom: 504px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/bgr-images/bgr-hero-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding-top: 186px;
    padding-bottom: 294px;
  }
}
.hero-title {
  font-family: var(--font3);
  font-weight: 400;
  font-size: 40px;
  color: #fff;

  max-width: 351px;
  margin-bottom: 54px;
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .hero-title {
    font-size: 60px;
    max-width: 761px;
    margin-bottom: 80px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-title {
    font-size: 60px;
    max-width: 761px;
    margin-bottom: 57px;
  }
}
.hero-btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 18px;
  row-gap: 38px;
}
@media only screen and (min-width: 768px) {
  .hero-btn-wrapper {
    justify-content: start;
  }
}
.hero-first-btn {
  border-radius: 999px;
  border: none;
  width: 190px;
  padding: 8px 0 8px 0;

  background: #010101;
  cursor: pointer;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}
.hero-second-btn {
  border-radius: 999px;
  border: none;
  width: 190px;
  padding: 8px 0 8px 0;

  background: #010101;
  cursor: pointer;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}
.hero-first-btn:hover,
.hero-second-btn:hover,
.hero-first-btn:focus,
.hero-second-btn:focus {
  background: #dd7230;
}

.galerey {
  background-color: #584747;
}

.galerey-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  row-gap: 58px;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media only screen and (min-width: 768px) {
  .galerey-wrapper {
    column-gap: 60px;
    row-gap: 37px;
  }
}
@media only screen and (min-width: 1280px) {
  .galerey-wrapper {
    column-gap: 15px;
    row-gap: 30px;

    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.galerey-img {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.galerey-title {
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 60%;
  color: #fad1b4;
}
@media only screen and (min-width: 768px) {
  .galerey-title {
    font-size: 60px;
    line-height: 40%;
  }
}
.title-wrapper {
  padding-top: 40px;
  padding-bottom: 30px;
  background: #5d5050;
}
/* -=-=-=-=-recommendations=-=-=-=- */
.recommend-title {
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 35px;
  line-height: 60%;
  color: #fad1b4;
}

@media only screen and (min-width: 768px) {
  .recommend-title {
    font-size: 60px;
    line-height: 40%;
  }
}
.recommendations {
  background: #fad1b4;
}
.recommend-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 15px;
  row-gap: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media only screen and (min-width: 768px) {
  .recommend-list {
    column-gap: 60px;
    row-gap: 37px;
  }
}
@media only screen and (min-width: 1280px) {
  .recommend-list {
    column-gap: 15px;
    row-gap: 30px;

    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.recommend-img {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.recommend-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #010101;
  margin-top: 15px;
}
/* =-==-=-=-=-=- */
.reviews {
  padding-top: 110px;
  padding-bottom: 110px;
}

@media only screen and (max-width: 991.98px) {
  .reviews {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media only screen and (max-width: 767.98px) {
  .reviews {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.reviews__container {
}
.reviews__title {
  margin-bottom: 50px;
  max-width: 570px;
}

.reviews__items {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}
.reviews__item {
}

.item-reviews {
  color: inherit;
  padding: 50px 40px;
  background: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
.item-reviews:hover {
  border: 1px solid transparent;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222),
    0px 20px 13px rgba(0, 0, 0, 0.015),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222),
    3px 44px 54px rgba(0, 0, 0, 0.08);
}
.item-reviews__raiting {
  margin-bottom: 33px;
  margin-left: 65px;
}

.item-reviews__text {
  line-height: 1.5;
  margin-bottom: 50px;
}
.item-reviews__author {
}

.author-item-reviews {
  display: flex;
  gap: 20px;
  align-items: center;
}
.author-item-reviews__avatar {
  flex: 0 0 48px;
  border-radius: 50%;
  overflow: hidden;
}
.author-item-reviews__body {
}
.author-item-reviews__name {
  font-weight: 700;
  line-height: 22px;
}
.author-item-reviews__location {
  color: #666666;
  font-size: 14px;
  line-height: 19px;
}

.simple-rating {
  position: relative;
  font-size: 24px;
  display: inline-block;
}

.simple-rating::before {
  content: "★★★★★";
  display: block;
}

.simple-rating__items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}

.simple-rating__item {
  position: absolute;
  width: 0%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
}

.simple-rating__label {
  flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
  color: #f0dbbb;
}

.simple-rating__label::before {
  content: "★";
  display: block;
  transition: color 0.3s ease 0s;
}

.simple-rating__item:checked,
.simple-rating__item:checked ~ .simple-rating__label {
  color: #fbb040;
}

.simple-rating__label:hover,
.simple-rating__label:hover ~ .simple-rating__label,
.simple-rating__label:checked ~ .simple-rating__label:hover {
  color: #ffef9f;
}
